body{
    background-image: url("https://imgd.aeplcdn.com/1056x594/n/cw/ec/44686/activa-6g-right-front-three-quarter.jpeg?q=75");
}
h1{
    color:brown;
    background-color: antiquewhite;
}
p{
    color:bisque
}